webservice/de.uniol.inf.is.odysseus.webservice/src/de/uniol/inf/is/odysseus/webservice/OdysseusWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://de.uni.ol.inf.is.odysseus/OdysseusWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OdysseusWS" targetNamespace="http://de.uni.ol.inf.is.odysseus/OdysseusWS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://de.uni.ol.inf.is.odysseus/OdysseusWS/">
    	<xsd:element name="Schema" type="tns:Array"></xsd:element>
        <xsd:complexType name="Array">
        	<xsd:complexContent>
				<xsd:restriction base="soapenc:Array">
					<xsd:attribute ref="soapenc:arrayType"
						wsdl:arrayType="string[]" />
				</xsd:restriction>
			</xsd:complexContent>
        </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="CreateSourceRequest">
    <wsdl:part name="sourceDescription" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="CreateSourceResponse">
    <wsdl:part name="status" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="CreateStatementRequest">
  	<wsdl:part name="query" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateStatementResponse">
  	<wsdl:part name="status" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSchemaRequest">
  	<wsdl:part name="id" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSchemaResponse">
  	<wsdl:part name="schema" element="tns:Schema"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OdysseusWS">
    <wsdl:operation name="CreateSource">
      <wsdl:input message="tns:CreateSourceRequest"/>
      <wsdl:output message="tns:CreateSourceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CreateStatement">
    	<wsdl:input message="tns:CreateStatementRequest"></wsdl:input>
    	<wsdl:output message="tns:CreateStatementResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchema">
    	<wsdl:input message="tns:GetSchemaRequest"></wsdl:input>
    	<wsdl:output message="tns:GetSchemaResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OdysseusWSSOAP" type="tns:OdysseusWS">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="CreateSource">

  		<soap:operation
  			soapAction="http://de.uni.ol.inf.is.odysseus/OdysseusWS/CreateSource" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="CreateStatement">
  		<soap:operation
  			soapAction="http://de.uni.ol.inf.is.odysseus/OdysseusWS/CreateStatement" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="GetSchema">
  		<soap:operation
  			soapAction="http://de.uni.ol.inf.is.odysseus/OdysseusWS/GetSchema" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OdysseusWS">
    <wsdl:port binding="tns:OdysseusWSSOAP" name="OdysseusWSSOAP">
      <soap:address location="http://localhost:8080/OdysseusWSSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
