test/xml/queries/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nickname"/>
        <xs:element type="xs:string" name="fname"/>
        <xs:element type="xs:string" name="lname"/>
        <xs:element type="xs:string" name="email"/>
        <xs:element type="xs:byte" name="age"/>
        <xs:element name="roles">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="role"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>