application/de.uniol.inf.is.odysseus.visualquerylanguage/editor_cfg/resourcesSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:complexType name="Image">
		<xs:attribute name="source" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:element name="Resources">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="Image" type="Image"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	

</xs:schema>