planmanagement/de.uniol.inf.is.odysseus.planmanagement.executor/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema" xmlns:tns="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">


    <complexType name="NewComplexType">
    	<sequence minOccurs="0" maxOccurs="unbounded">
    		<element name="OpType" type="string" minOccurs="0"
    			maxOccurs="unbounded" />
    	</sequence>
    </complexType>

    <element name="optype"><simpleType><restriction base="string"/></simpleType></element>



</schema>